<h1>EdNet - Optimize Student Performance: Data Wrangling</h1>

In [1]:
# I get by with a little help from my friends
#import matplotlib.pyplot as plt
#import seaborn as sns
#import datetime

import numpy as np
import pandas as pd
import glob

In [2]:
cd ~/Desktop/SPRINGBOARD_MASTER/EdNet/data/raw/EdNet-KT4/KT4

C:\Users\Prem\Desktop\SPRINGBOARD_MASTER\EdNet\data\raw\EdNet-KT4\KT4

In [3]:
# file locations
prefix = '~/Desktop/SPRINGBOARD_MASTER/EdNet/data/raw/EdNet-'
folder_1 = prefix + 'KT1/KT1/'
folder_2 = prefix + 'KT2/KT2/'
folder_3 = prefix + 'KT3/KT3/'
folder_4 = prefix + 'KT4/KT4/'
questions = prefix + 'Contents/contents/questions.csv'
questions_df = pd.read_csv(questions)

# create a list of the csv files in current directory
csv_files = glob.glob('*.csv')

In [4]:
# count of csv files in current directory
#print(len(csv_files))

In [5]:
# loop through
# create pandas dataframe
# extract user_id from filename and assign user_id as value to column[0], 'user_id'

z = 11095

for i in range(1):
        one = pd.read_csv(folder_1 + csv_files[z])
        one.insert(0, 'user_id', csv_files[z].split('.')[0])

        # repeat process for 3 related csv files per user 
        two = pd.read_csv(folder_2 + csv_files[z]) 
        two.insert(0, 'user_id', csv_files[z].split('.')[0])

        three = pd.read_csv(folder_3 + csv_files[z])
        three.insert(0, 'user_id', csv_files[z].split('.')[0])

        four = pd.read_csv(folder_4 + csv_files[z])
        four.insert(0, 'user_id', csv_files[z].split('.')[0])

        # concatenate into a 'tall' dataframe
        df1 = pd.concat([one, two, three, four],ignore_index=True)

        # inner join dataframes on 'question_id' columns
        df1 = pd.merge(left=df1, right=questions_df, left_on='question_id', right_on='question_id')

        # create a 'correct' column
        df1['correct'] = 0

        # loop - if user answers == correct answer, then df1['correct'][_]= 1
        length_df = df1['user_id'].count()
        count = 0
        for i in range(length_df):
            if df1['user_answer'][count] == df1['correct_answer'][count]:
                df1['correct'][count] = 1
            count+=1
            
        # create new 'score' column = sum of rows/ sum of correct (1)
        total_u1 = df1['correct'].count()
        correct_u1 = df1[df1['correct'] == 1].count()
        score = correct_u1[0]/total_u1
        df1['score'] = score

        # manipulate the rows
        df1 = df1[['user_id', 'timestamp',  'deployed_at', 'elapsed_time','solving_id', 'bundle_id', 'explanation_id', 'tags','part','question_id', 'user_answer','correct_answer', 'correct', 'score','action_type', 'item_id', 'platform','cursor_time']]


        # EXPORT csv create a csv of the new dataframe
        output = '_'+ str(csv_files[z])
        df1.to_csv(output, index=False)

        z+=1
    
    
df1.head()

,user_id,timestamp,deployed_at,elapsed_time,solving_id,bundle_id,explanation_id,tags,part,question_id,user_answer,correct_answer,correct,score,action_type,item_id,platform,cursor_time
0,u259368,1536934850204,1562890746366,52000.0,1.0,b3438,e3438,82,5,q4906,a,c,0,0.0,NaN,NaN,NaN,NaN
1,u259368,1536934885623,1568635528218,32000.0,2.0,b4219,e4219,124,5,q5687,d,b,0,0.0,NaN,NaN,NaN,NaN
2,u259368,1536934911413,-1,23000.0,3.0,b377,e377,30;31;32;185;181,2,q377,c,a,0,0.0,NaN,NaN,NaN,NaN
3,u259368,1536934926157,1568635690061,12000.0,4.0,b4286,e4286,74,5,q5754,a,c,0,0.0,NaN,NaN,NaN,NaN
4,u259368,1536935025570,1552356284511,96000.0,5.0,b3636,e3636,103,5,q5104,c,d,0,0.0,NaN,NaN,NaN,NaN

In [6]:
print(z)

11096